body {
  overflow-x: hidden;
}

.img-custom {
  width: 200px;
  height: auto;
}

.img-list {
  padding: 50px 100px;
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color: #cccccc;
  width: 100%;
  font-size: 20px;
}

.main {
  padding: 30px 300px;
}